body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;                                                                                                                                                                                                                                                                                                                                                 isplay: grid;
    height: auto;
    background-color: #b9b9d1;
    color:rgb(60, 60, 100)	
  }
  h1,h2, h3 { 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
  }
  img {
    width: 100%; 
    height: auto;
  }
  .section { 
    width: 100%;
    height: auto;
    padding: 5rem 0rem;
  }
  header { 
    background-color: navy;
    color: red;
  }
  main { 
    background-color: rgb(225, 225, 247);
    color: red;
  }

  footer { 
    padding: 2rem;
    text-align: center;
    color: #ffdead;
    background:#b22222;
  }